@import url('https://fonts.googleapis.com/css?family=Overpass|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;800&display=swap');


* {
  font-family: 'JetBrains Mono', monospace;
}

body {
  overflow-x: hidden;
  /*background-color: white;*/
  background-color: #2F3137;
  color: rgba(255, 255, 255);
}

h2,
h3,
h4 {
  font-family: 'JetBrains Mono', monospace;
  color: rgba(255, 255, 255);
}

.logo {
  display: block;
  padding: 5%;
  width: 50%;
  margin: auto;
  border-radius: 60px;
}

.blackText {
  color: #000;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  color: rgb(255, 0, 0);
  text-align: center;
}

h2 {
  font-family: 'JetBrains Mono', monospace;
  color: rgba(255, 255, 255);
}

p,
ul,
li {
  font-family: 'JetBrains Mono', monospace;
  opacity: 0.8;
}

#post-preview {
  list-style-type: none;
}

#tools {
  font-family: 'Overpass', sans-serif;
  opacity: 0.8;
}

.container.borderXwidth a div#navText {
  display: flex;
}

#navText .material-icons {
  padding-right: .125em;
}

.container {
  display: flex;
  justify-content: center;
}

/** CSS transitions from here: https://codepen.io/EvyatarDa/pen/waKXMd */

div.container {
  top: 0;
  width: 100%;
  position: sticky;
  background-color: #1f2529;
  /*background-color: white;*/
  z-index: 500;
  /* font-family: Raleway; */
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, .7);
}

div.container a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.borderXwidth a:before,
div.borderXwidth a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #000;
  transition: all 0.3s;
}

div.borderXwidth a:before {
  left: 0px;
  top: 0px;
}

div.borderXwidth a:after {
  right: 0px;
  bottom: 0px;
}

div.borderXwidth a:hover:before,
div.borderXwidth a:hover:after {
  opacity: 0.7;
  width: 100%;
}

/* Main Content */
.upper {
  width: 100%;
  height: 500px;
}

.intro {
  width: 50%;
  float: left;
}

.discordWidget {
  float: right;
  width: 40%;
  margin: auto;
}

.devSessions {
  padding: 10%;
  padding-bottom: 20px;
  text-decoration: underline;
  text-align: center;
  width: 50%;
  margin: auto;
}

#upcomingSessionCard {
  border-style: solid;
  border-color: #F25354;
}

.sessionCard {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 0;
  width: 90%;
  background-color: #9EA1AC;
  margin-top: 20px;
  margin-bottom: 50px;
  page-break-inside: avoid;
}

.sessionCardHeader {
  border-radius: 10px;
  padding: 0;
  height: auto;
  background-color: #B5B8C2;
  margin-bottom: 10px;
  page-break-inside: avoid;
}

.headerDate {
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 15%;
  height: 80%;
  margin: 10px;
  background-color: #FFFFFF;
  page-break-inside: avoid;
}

.upNext {
  border-radius: 10px;
  float: right;
  /* margin-right: 10px; */
  padding-top: 5px;
  padding-bottom: 5px;
  width: 15%;
  height: 80%;
  margin: 6px;
  background-color: #F25354;
  page-break-inside: avoid;
}

.nextUpText {
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

.headerDateText {
  text-align: center;
  margin: 0;
}

.headerDetails {
  margin: 1%;
  flex-direction: column;
  display: inline-block;
}

.headerDetailsMain {}

.eventTag {
  border-radius: 10px;
  float: right;
  margin-right: 10px;
  padding: 10px;
  height: 80%;
  margin: 10px;
  background-color: #2F3137;
  page-break-inside: avoid;
}

#devSession {
  background-color: #0d6b00;
}

#specialEvent {
  background-color: #650073;
}

.headerDetailsTitle {
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  float: left;
}

.headerDetail {
  margin: 0;
  padding: 0;
  text-align: left;
}

.sessionDescription {
  padding: 2%;
}

#mainContent {
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#projectBanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#eventBanner {
  display: block;
  float: right;

  width: 30%;
  clear: both;
}

/* Link styles */
a {
  color: #26C6DA;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  z-index: 10;
  /*or whatever number that is a positive real number. */
  transition: color .3s ease;
  -moz-transition: color .3s ease;
}

a:hover {
  color: #e81574;
}

a:active {
  opacity: .5;
  color: #26C6DA;
}

a:link {
  opacity: .7;
  color: #00ffff;
}

a:visited {
  opacity: .5;
  color: #00ffff;
}

/* Footer */
footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  text-align: center;
}

footer img {
  width: 28px;
  height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  filter: brightness(100%) opacity(70%);
}

/*
I grabbed the following code / pre tag stuff from this blog:
https://perishablepress.com/perfect-pre-tags/
*/
code,
samp,
kbd {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
}

pre code {
  line-height: 1.6em;
  font-size: 11px;
}

pre {
  padding: 0.1em 0.5em 0.3em 0.7em;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
}

/* target IE7 and IE6 */
*:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
}

* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}

/* Tablet adjustments */
@media screen and (max-width: 910px) {
  #mainContent {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  #mainContent img {
    width: 300px;
  }

  #eventBanner {
    float: none;
    width: 100%
  }

}

/** Moible adjustments */
@media screen and (max-width: 500px) {
  .nav-items {
    text-align: center;
  }

  .nav-bucket {
    padding: 5px;
    float: none;
  }

  #mainContent {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  #mainContent img {
    width: 270px;
  }

  .intro {
    width: 100%;
    float: left;
  }

  .discordWidget {
    width: 100%;
    margin: auto;
  }

  #upcomingSessionCard {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 10px;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    border-color: #F25354;
  }

  .sessionCard {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #9EA1AC;
    margin-top: 50px;
    margin-bottom: 50px;
    page-break-inside: avoid;
  }

  .sessionCardHeader {
    border-radius: 10px;
    padding: 0;
    height: auto;
    background-color: #B5B8C2;
    margin-bottom: 10px;
    page-break-inside: avoid;
    display: block;
  }

  .upNext {
    border-radius: 10px;
    float: right;
    /* margin-right: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: 80%;
    background-color: #F25354;
  }

  .headerDate {
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: auto;
    height: 80%;
    margin: 10px;
    background-color: #FFFFFF;
    page-break-inside: avoid;
  }

  .headerDetails {
    margin: 1%;
    flex-direction: column;
    display: block;
  }

  .headerDetailsTitle {
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    float: left;
    font-size: medium;
  }
}
